@font-face {
    font-family: 'PT-Sans';
    src: url(./assets/fonts/PTSans-Regular.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'PT-Sans';
    background-color:rgb(249 255 155);
    overflow-x: hidden;
    
}

button{
    border-radius: 4px;
    background-color: rgb(190, 219, 138);
    border-color: rgb(191, 221, 138);
    padding: 4px 8px;
    color: white;
}

button:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

h1{
    font-size: 66px;
}

h2{
    font-size: 56px;
}

h3{
    font-size: 36px;
}

p{
    font-size: 20px;
}

a{
    font-size: 20px;
}


.separator{
    height: 1px;
    background-color: aliceblue;
}


.bottom-button{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0px;
    display: none;
    color: white;
    font-size: 15px;
}

.d_none{
    display: none;
}

.background-darkener{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    left: 0px;
    top: 0px;
}



