footer{
    height: 111px;
}

.footer-font-style{
    text-decoration: none;
    color: rgb(180, 85, 85);
}

.footer-font-style:hover{
    filter: brightness(1.2);
}


.footer-order{
    display: flex;
    align-items: center;
    justify-content: space-around;
}