header{
    background-color:rgb(158, 184, 113);
    height: 86px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-image: url("./img/geoffroy-hauwen-BPLXQJFlZDM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 36%;
    background-size: 1000px 700px;
    

    

    padding-left: 11px;
    padding-right: 11px;

}

.headline{
    display: flex;
    padding: 8px;
}
