.lasagna-icon{
    height: 40px;
    width: 47px;
    object-fit: cover;
    padding-left: 8px;
}

.shoppingcart-icon-button{
    height: 26px;
    width: 28px;
    position: absolute;
    right: 30px;
    top: 30px;
    object-fit: cover;

    background-color: rgb(139 46 46);
    border-radius: 4px;
    border: solid rgb(180, 85, 85);
    border-style: outset;

    padding: 3px;
}

.shoppingcart-icon-side-window{
    height: 19px;
    width: 20px;
    margin-left: 5px;
    margin-bottom: -1px;
}


.shoppingcart-arrow{
    height: 14px;
    width: 14px; 
    margin-top: 3px;
}

.plus-icon{
    height: 11px;
    width: 11px;
    margin-top: 3px; 
}

.plus-button{
    border-radius: 0px;
    padding: 0px 3px;
}

