.main-content{
    color: rgb(180, 85, 85);
    background-color: moccasin;
    padding: 9px 40px;
    padding-right: 300px;
}

.pricelist-section{
    padding: 38px 4px;
}


.price-seperator{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic-from-menue{
    color: rgb(180, 85, 85);
    background-color: moccasin;
    padding: 24px;
    padding-top: 31px;
    padding-bottom: 10px;
}

.main-content-bootom{
    height: 40px;
    background-color: moccasin;
}

