.close-shoppingcart{
    transform: translateX(100%);
}

.shopingcart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(180, 85, 85);
    padding: 15px;
    padding-bottom: 5px;
}



.shopingcart-window{
    background-color: rgb(217 116 116);
    display: flex;
    flex-direction: column;


    

    width: 256px;
    height: 100vh;

    top: 0px;
    right: 0px;

    position: fixed;

    z-index: 1000;

    transition: all 3200ms ease-in-out;
}

.shoppingcart-button{
    border-radius: 5px;
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
}



.shopingcart-content{
    border-bottom: 1px solid white; 
    padding: 10px; 
}

.order-section{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.add-remove-button{
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
    border-radius: 15px;
    padding-top: 0;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 2px;
    height: 17px;
    font-size: 10px;
    width: 17px;
    border-style: none;
}


.clear-button{
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
    bottom: 1px;
    position: absolute;
    right: 1px;
    color:forestgreen;
    font-size: bold;
}

.font-size-shoppingcart{
    font-size: 12px;
}

.take-out-basket-button{
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
    height: 15px;
    font-size: 7px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
}

.display-flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.bill-summary{
    font-size: 11px;
    padding-bottom: 6px;
    position:absolute;
    bottom: 15px;
    width: 100%;
    border-top : 1px solid white;
}

.bill-food-deliver{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(190, 219, 138);
}

.bill-total{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
}

.pay-button{
    color:white;
    border-radius: 15px;
    border-style: none;
    
}

.pay-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}


