.close-shoppingcart{
    transform: translateX(100%);
}

.shopingcart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(180, 85, 85);
    padding: 15px;
    padding-bottom: 5px;
}



.shopingcart-window{
    background-color: rgb(217 116 116);
    display: flex;
    flex-direction: column;


    

    width: 456px;
    height: 100vh;

    top: 0px;
    right: 0px;

    position: fixed;

    z-index: 1000;

    transition: all 750ms ease-in-out;
}

.shoppingcart-button{
    border-radius: 5px;
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
    padding-left: 11px;
}



.shopingcart-content{
    border-bottom: 1px solid white; 
    padding: 10px; 
    color:rgb(171 70 70);
}

.order-section{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.add-remove-button{
    background-color: rgb(171 70 70);
    border-color: rgb(171 70 70);
    border-radius: 15px;
    padding-top: 0;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 2px;
    height: 22px;
    width: 22px;
    font-size: 16px;
    
    border-style: none;
}


.clear-button{
    background-color: rgb(139 46 46);
    border-color: rgb(171 70 70);
    bottom: 1px;
    position: absolute;
    right: 1px;
    color:forestgreen;
    font-size: bold;
}



.take-out-basket-button{
    background-color: rgb(171 70 70);
    border-color: rgb(171 70 70);
    height: 24px;
    width: 24px;
    font-size: 12px;
    padding-bottom: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    border-style: none;
    padding-top: 5px;
}

.display-flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.bill-summary{
    font-size: 11px;
    padding-bottom: 6px;
    bottom: 15px;
    width: 100%;
    border-top : 1px solid white;
}

.bill-food-deliver{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(190, 219, 138);
    color: rgb(171 70 70);
}

.bill-total{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
}

.pay-button{
    color:rgb(171 70 70);
    border-radius: 15px;
    border-style: none;
    font-size: 19px;
}

.pay-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}

.deliverly-service-description{
    font-size: 8px;
}


.popup-window-buy{
    position: absolute;
    height: 149px;
    width: 237px;
    border-radius: 8px;

    background-color: rgb(139 46 46);

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-window-buy-content{
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-window-buy-content-space{
    height: 29px;
}

.popup-window-buy-button{
    padding: 2px 16px 2px 16px;
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
}
